      <link rel="stylesheet" type="text/css" href='styleForm/form.css'>

      <div class="addArticleContainer">
        <body class="background-main" >
        <div class = "addArticleHeader">
       <h1> Article submission</h1> 
       </div>
       
       <form action ="articles/submit" method="post" style="margin-left: 620">
        <div class= "input">
      <text>Please enter author's name</text></br>
          <input type="text" placeholder="Authors" name="name" /> 
         <br/> <br/>
      <text>Please enter the title of the article</text><br/>
          <input type="text" placeholder="The title of the article" name="title"/>
          <br/> <br/>
      <text>Please enter the year of publication</text><br/>
          <input type="text" placeholder="2010" name="year"/>
          <br/> <br/>
      <text>Please enter the source of the article</text><br/>
          <input type="text" placeholder="journal" name="source"/>
          <br/> <br/>
      <text>Please enter the SE practice</text><br/>
          <input type="text" placeholder="TDD"  name="practice"/>
          <br/> <br/>
     <text>Please enter the claims</text><br/>
          <input type="text" placeholder="improves code quality" name="claims"/>
          <br/> <br/>
      <button type="submit" style="color: black; background-color: cadetblue; border-radius: 6px; font-weight: bold; font-size: medium;">Submit</button>

   </form>
   </body>

</div>

    




