
        <div style="background-color: lightseagreen; height: 800; ">
            <body>

                <text style="font-weight: bold; font-size: 45; align-self: center;">Results </text>
                <table aria-label="simple table" border="1.5">
                <tr>
                    <th><text>Title </text></th>
                    <th><text>author </text></th>
                    <th><text>published </text></th>
                    <th><text>year </text></th>
                </tr>

                
                <% for(var i = 0; i < output.length; i++) {%>
                   
                    <tr>
                     <th> <span style="font-weight: bold;"><%= output[i].title %></span> <br><br> </th>
                     <th> <span style="font-weight: bold;"><%= output[i].author%></span> </th>
                     <th> <span style="font-weight: bold;"><%= output[i].published%></span> </th>
                     <th> <span style="font-weight: bold;"><%= output[i].year%></span> </th>
                    </tr>
                    
                    <% } %> 
                    
                    </table>
                      <br><br>

                  
            </body>
        </div>