
        <div>
            <body>
                <% for(var i = 0; i < output.length; i++) {%>
                       
                    <table>

                    <th>
                    <text>Title</text>
                     </th>

                    <tr>
                    <span style="font-weight: bold;"><%=output[i].title %></span>
                    </tr>

                    <th>
                    <text>author: </text>
                    </th>
                    <span style="font-weight: bold;"><%= output[i].author%></span>
                    

                    <th>
                    <text>published: </text>
                    </th>
                    <span style="font-weight: bold;"><%= output[i].published%></span>
                    

                    <th>
                    <text>year: </text>
                    </th>
                    <span style="font-weight: bold;"><%= output[i].year%></span>
                    
                    
                    </table>
                      <br><br>

                  <% } %> 
            </body>
        </div>