<body>
    enter details
    <form action="results" method="post">
        <input type="text" name="search" placeholder="Search Articles"/> 
        <button type="submit" class="article">Search</button>
      </form>

</body>